extends ./../layout

block content
  h3 Welcome #{user.name}
  img.avatar(src='#{user.avatarUrl}' alt='profile pic')
  
  p
    a(href='/users/#{user_id}/items/new') Add a new item
  table
    thead
      tr
        th Name
        th Brand
        th
        th Options
    tbody
      each item in items
        tr
          td= item.name
          td= item.brand
          td
            img.gearthumbnail(src='#{item.imageUrl}' alt='broken image')
          td
            a(href='/users/#{item.userId}/items/#{item._id}') Show
            a(href='/users/#{item.userId}/items/#{item._id}/edit') Edit
            form(action='/users/#{item.userId}/items/#{item._id}/delete' method='post')
              input(type='submit' value='Delete')
            
