extends ./../layout

block content
  h3 Welcome #{user.name}
  a(href='/users/#{user_id}/items/new') Add a new item
  p
  img.avatar(src='#{user.avatarUrl}' alt='profile pic')
  .col8
    if sellerContracts.length > 0
      h4.noTop Rental Requests
      table.rentals
        thead
          tr
            th Item
            th Status
            th Start Date
            th End Date
            th Options
        tbody
          each sellerContract in sellerContracts
            tr
              td= sellerContract.item.name
              td= sellerContract.status
              td= sellerContract.startDate
              td= sellerContract.endDate
              td
                a(href='/users/#{sellerContract.sellerId}/items/#{sellerContract.itemId}/contracts/#{sellerContract._id}') View Rental
    if buyerContracts.length > 0          
      h4.noTop Your Pending Rentals
      table.rentals
        thead
          tr
            th Item
            th Status
            th Start Date
            th End Date
            th Options
        tbody
          each buyerContract in buyerContracts
            tr
              td= buyerContract.item.name
              td= buyerContract.status
              td= buyerContract.startDate
              td= buyerContract.endDate
              td
                a(href='/users/#{buyerContract.sellerId}/items/#{buyerContract.itemId}/contracts/#{buyerContract._id}') View Rental
  table
  h3 Your Gear
  table
    thead
      tr
        th Name
        th Brand
        th
        th Options
    tbody
      each item in items
        tr
          td= item.name
          td= item.brand
          td
            img.gearthumbnail(src='#{item.imageUrl}' alt='broken image')
          td
            a(href='/users/#{item.userId}/items/#{item._id}') Show
            a(href='/users/#{item.userId}/items/#{item._id}/edit') Edit
            form(action='/users/#{item.userId}/items/#{item._id}/delete' method='post')
              input(type='submit' value='Delete')
            
