extends ./../layout

block content
  h1 Your gear
  a(href='/users/#{user_id}/items/new') Add a new item
  a(href='/') Home
  a(href='/logout') Logout
  table
    thead
      tr
        th Name
        th Brand
        th Options
    tbody
      each item in items
        tr
          td= item.name
          td= item.brand
          td
            a(href='/users/#{item.userId}/items/#{item._id}') Show
            a(href='/users/#{item.userId}/items/#{item._id}/edit') Edit
            form(action='/users/#{item.userId}/items/#{item._id}/delete' method='post')
              input(type='submit' value='Delete')
            
