extends ./../layout

block content
  if !user 
    h5 Login to Rent this!
  else if user != item.userId
    h4
      a(href='/users/#{item.userId}/items/#{item._id}/contracts/new') Rent it!
  else if user === owner
    h4
      a(href='/') Pending Rentals
      a(href='/users/#{item.userId}/items/#{item._id}/edit') Edit
  else
  h2= item.name
  img(src='#{item.imageUrl}' alt='broken image')
  .row 
    .col2 
      h6 Description:
    .col6= item.description
  .row 
    .col2
      h6 Brand:
    .col6= item.brand
  .row
    .col2
      h6 Condition:
    .col6= item.condition
  .row
    .col6
      h6 Categories:
      ul
        each category in categories
          li= category.name
  a(href='/users/#{user_id}/items') Back
