extends ./../layout

block content
  if !user 
    h5 Login to Rent this!
  else if user != item.userId
    h4
      a.dark(href='/users/#{item.userId}/items/#{item._id}/contracts/new') Rent it!
  else if user === owner
    h4
      a.dark(href='/users/#{item.userId}/items') Pending Rentals
      |  | 
      a.dark(href='/users/#{item.userId}/items/#{item._id}/edit') Edit
  else
  h2= item.name
  img.gearimage(src='#{item.imageUrl}' alt='broken image')
  .info
    .row 
      h6.noTop Description:
      p= item.description
    .row 
      h6 Brand:
      p= item.brand
    .row
      h6 Condition:
      p= item.condition
    .row
      h6 Categories:
      ul
        each category in categories
          li= category.name
    a(href='/users/#{user_id}/items') Back
