extends ./../layout

block content
  //- for non logged in users
  if !user 
    a(href='/') Login to Rent this!
  //- for logged in users
  else if user != item.userId
    a(href='/users/#{item.userId}/items/#{item._id}/contracts/new') Rent it!
  //- for owner
  else if user === owner
    a(href='/') Pending Rentals
  else
  h1= item.name
  p 
    strong Description
  p= item.description
  p 
    strong Brand
  p= item.brand
  p
    strong Condition
  p= item.condition
  p
    strong Age
  a(href='/users/#{user_id}/items') Back
