extends ./../layout

block content
  h1 Viewing All Users
  a(href='/') Back to Home Page
  table
    thead
      tr
        th Name
        th Email
        th Options
    tbody
      each user in users
        tr
          td
            a(href='/users/#{user._id}')= user.name
          td= user.email
          td
            a(href='/users/#{user._id}') Show
            a(href='/users/#{user._id}/edit') Edit
            form(action='/users/#{user._id}/delete' method='post')
              input(type='submit' value='Delete')
