extends ./../layout

block content
  h1 Contract Details:
  if (userInfo.role === 'Renter')
    h4 You have requested to rent #{item.name}
    h4 Status: #{contract.status}
    h6 You will be notified when the owner of this item has approved or rejected your request.
    form(method='post' action='/users/#{item.ownerId}/items/#{item._id}/contracts/#{contract._id}/delete')
      button(type='submit') Cancel Rental
  if (userInfo.role === 'Owner')
    h4 You have a pending request for your #{item.name}
    h4 Status: #{contract.status}
    form(method='post' action='/users/#{item.ownerId}/items/#{item._id}/contracts/#{contract._id}/approve')
      button(type='submit') Approve Rental
    
